<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <header class="index_header">
        <div class="container">
            <div class="row">
                <h1>Mission To Mars</h1>
                <a class="btn btn-default" href="/scrape" role="button">Scrape Data</a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="topAlertclearfix">
                    <div class="col-md-12 ">
                        <div class="alert alert-info" role="alert">
                            Last scraped on {{data['scrapedOn']}}
                        </div>
                    </div>
                </div>
                <div class="content">
                    <section class="clearfix">
                        <div class="col-md-12">
                            <div class="news">
                                <h3>Latest Mars News</h3>
                                <h4>{{data['latestTitle']}}</h4>
                                <p>{{data['latestTeaser']}}</p>
                            </div>
                        </div>
                    </section>
                    <section class="clearfix">
                        <div class="col-md-8">
                            <div class="featuredImage">
                                <h3>Featured Mars Image</h3>
                                <img src="{{data['featuredImage']}}" title="Featured Image" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="marsWeather">
                                <h4>Current Weather on Mars</h5>
                                <p>{{ data['weather']}}
                            </div>
                            <div class="marsFacts">
                                <h4>Mars Facts</h4>
                                <table class="table table-striped table-bordered table-responsive">
                                    {% for a in data['facts'] %}
                                    <tr>
                                        <td>{{ a.desc }}</td>
                                        <td>{{ a.val }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </section>
                    <section class="clearfix">
                        <div class="col-md-12">
                            <div class="marsHem">
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <h3>Mars Hemispheres</h3>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="hemItem">
                                            <img src="{{ data['hemispheres'][0]['img_url'] }}" title="{{ data['hemispheres'][0]['title'] }}" />
                                            <h5>{{ data['hemispheres'][0]['title'] }}<h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="hemItem">
                                            <img src="{{ data['hemispheres'][1]['img_url'] }}" title="{{ data['hemispheres'][1]['title'] }}" />
                                            <h5>{{ data['hemispheres'][1]['title'] }}<h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="hemItem">
                                            <img src="{{ data['hemispheres'][2]['img_url'] }}" title="{{ data['hemispheres'][2]['title'] }}" />
                                            <h5>{{ data['hemispheres'][2]['title'] }}<h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="hemItem">
                                            <img src="{{ data['hemispheres'][3]['img_url'] }}" title="{{ data['hemispheres'][3]['title'] }}" />
                                            <h5>{{ data['hemispheres'][3]['title'] }}<h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
